@import "tailwindcss";

:root {
  --primary-lighter: var(--color-teal-400);
  --primary-light: var(--color-teal-500);
  --primary-main: var(--color-teal-600);
  --primary-dark: var(--color-teal-700);
  --primary-darker: var(--color-teal-800);

  --border: rgba(145, 158, 171, 0.24);
}

@theme {
  --color-background: var(--color-gray-100);
  --color-card: var(--color-white);

  --color-primary-lighter: var(--primary-lighter);
  --color-primary-light: var(--primary-light);
  --color-primary-main: var(--primary-main);
  --color-primary-dark: var(--primary-dark);
  --color-primary-darker: var(--primary-darker);

  --color-error: var(--color-red-500);
  --color-warning: var(--color-yellow-500);
  --color-success: var(--color-green-500);
  --color-info: var(--color-blue-500);

  --color-border: var(--border);
}

@layer theme {
  .dark {
    --color-background: var(--color-gray-900);
    --color-card: var(--color-gray-800);

    --color-primary-lighter: var(--primary-lighter);
    --color-primary-light: var(--primary-light);
    --color-primary-main: var(--primary-main);
    --color-primary-dark: var(--primary-dark);
    --color-primary-darker: var(--primary-darker);

    --color-error: var(--color-red-500);
    --color-warning: var(--color-yellow-500);
    --color-success: var(--color-green-500);
    --color-info: var(--color-blue-500);

    --color-border: var(--border);
  }
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-background;
}

button {
  @apply focus:outline-none cursor-pointer disabled:cursor-not-allowed;
}

.btn-primary {
  @apply bg-primary-main hover:bg-primary-dark text-white px-8 py-4 rounded-xl font-semibold transition-all shadow-lg shadow-primary-main/20 hover:shadow-primary-main/30 hover:-translate-y-1 flex items-center justify-center gap-2;
}
.btn-outline {
  @apply bg-white hover:bg-slate-50 text-slate-700 border border-slate-200 px-8 py-4 rounded-xl font-semibold transition-all hover:border-slate-300 flex items-center justify-center gap-2;
}

.glass-card {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.gradient-text {
  background: linear-gradient(
    135deg,
    var(--color-primary-dark) 0%,
    var(--color-primary-lighter) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
